{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ controller_name }}
    <ol>
        {% for incident in IncidentValid %}
            <li>
                {{ incident.nom}}
                {{ incident.tel }}
                {% if( incident.email != null)  %}
                {{ incident.email }}
                {% endif %}
                {{ incident.title }}
                {{ incident.description }}
            </li>
        {% endfor %}
    </ol>

    <a href="http://www.maisdon-sur-sevre.fr" class="btn btn-secondary">Retour Accueil</a>
{% endblock body %}
